name: Rust

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Install the latest toolchain
      run: |
        rustup update
        rustup target add x86_64-unknown-linux-musl

    - name: Install musl
      run: sudo apt-get install -y musl-tools

    - name: Run tests
      run: cargo test --release --target=x86_64-unknown-linux-musl --verbose

    - name: Build
      run: cargo build --release --target=x86_64-unknown-linux-musl --verbose

    - name: Create preview release
      uses: softprops/action-gh-release@v2
      with:
        token: "${{ secrets.GITHUB_TOKEN }}"
        tag_name: 'preview'
        prerelease: true
        name: 'preview'
        files: 'target/x86_64-unknown-linux-musl/release/btcmap-api'
